EMAIL_USER=
EMAIL_PASS=
JWT_SECRET=
MONGO_URI=
PORT=4000



#Firebase key credentials
type=
project_id=
private_key_id=
private_key=
client_email=
client_id=
auth_uri=
token_uri=
auth_provider_x509_cert_url=
client_x509_cert_url=
universe_domain=

# Your web app's Firebase configuration credentials
apiKey=
authDomain=
projectId=
storageBucket=
messagingSenderId=
appId=